<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse deserunt ipsa facere odio quos debitis, soluta a mollitia ratione exercitationem et quas sint veritatis impedit cumque libero quo optio magni.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse deserunt ipsa facere odio quos debitis, soluta a mollitia ratione exercitationem et quas sint veritatis impedit cumque libero quo optio magni.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse deserunt ipsa facere odio quos debitis, soluta a mollitia ratione exercitationem et quas sint veritatis impedit cumque libero quo optio magni.</p>
        </ul>
    </div>

</div>
