
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/NFTALIO.jpg" class="img-fluid" id="fotoDePerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Jose Guzman</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vero excepturi nobis deserunt at dolores quae cumque porro quas nisi? Vero asperiores dolores exercitationem tempore deleniti atque pariatur voluptatem id
                </p>
            </span>
        </div>
    </div>

